<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>

        .cursor{
            width: 2rem;
            height: 2rem;
            border: 2px solid red;
            border-radius: 50%;
            position: absolute;
            transform: translate(-50% ,-50%);
            pointer-events: none; 
            z-index: 1;
        }
        .cursor:hover{
            background: red;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="cursor"></div>
    <h1 id="h1" class="text-center">Cuerpo humano</h1>
    
    <div class="container bg-light" id="contenedor" >
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <img src="../img/1586481540617.png" style="cursor: pointer;" id="img">
                        
                    </div>
                    
                </div>
                <div class="col-6">
                    <p  id="nombreDepiezaxD"></p>
</div>
            </div>
         
        
    </div>
    
</div>

<script src="../js/app.js"></script>
<script src="../js/posicion.class.js"></script>
</body>

</html>