<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Tweets Local Storage</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pull-left">
                    <div class="form-group">
                        <form action="#" id="formulario">
                            <label for="">Tweet</label>
                            <textarea id="txTweet" rows="3" class="form-control"></textarea>
                            <button type="submit" class="mt-2 btn btn-outline-info btn-block">Agregar Tweet</button>
                        </form>
                    </div>
                </div>

                <div class="col-6">
                    <h2>Tweets:</h2>

                    <ul id="lista-tweets" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>

    <script src="./../js/LocalStorage.class.js"></script>
    <script src="./../js/Tweets.class.js"></script>
    <script src="./../js/app.js"></script>
</body>

</html>