<!doctype html>
<html lang="en">
  <head>
    <title>JS Methods</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
        <div class="jumbotron mt-5">
            <div class="row">
                <div class="col-12">
                    <h1>Metodos JavaScript</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Ingrese el tamaño del array</label>
                        <input type="text" name="" class="form-control" id="size" placeholder="Ingrese tamaño del array">
                    </div>
                </div>
            </div>
            <!--   Row para botones   -->
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block " id="op1">Opcion 1</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block " id="op2">Opcion 2</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block " id="op3">Opcion 3</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block " id="op4">Opcion 4</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block" id="op5">Opcion 5</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block" id="op6">Opcion 6</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block" id="op7">Opcion 7</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-block" id="op8">Opcion 8</button>
                </div>
            </div>

        </div>
    </div>
    <script src="../js/app.js" ></script>

  </body>
</html>